.edit-spot-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.edit-spot-form h2{
    text-align: center;
}
  
.edit-spot-form label{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
}

.edit-spot-form input{
    text-align: center;
    height: 27px;
    margin: 3px;
}
