.edit-spot-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.edit-spot-form h2{
    text-align: center;
}
  
.edit-spot-form label{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
}

.edit-spot-form input{
    text-align: center;
    height: 27px;
    margin: 3px;
}

.detail-editBtn{
    background-color: white;
    border: 2px solid #4CAF50;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    margin: 10px;
}

.detail-editBtn:hover{
    background-color: #4CAF50;
    color: white;
}
