.container{
    display: grid;
    grid-template-columns: 1.2fr .8fr;
    justify-items: center;
    align-items: center;
}

.course-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
