.header-content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 30px;
}

.slogan{
    color: rgb(40, 64, 12);
    font-size: 3.3rem;
    text-align: center;
}

.catch-phrase{
    text-align: center;
    font-size: 1.2rem;
    max-width: 70%;
    margin: 10px auto;
}
